# 多変量データ

In [1]:
import scipy as sp
import pandas as pd
# 表示桁数
%precision 3

'%.3f'

In [3]:
fish_data = pd.read_csv('../data/3-2-1-fish_multi.csv')
fish_data

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [10]:
group = fish_data.groupby('species')
print("## mean ##")
print(group.mean())
print("## max ##")
print(group.max())

## mean ##
         length
species
A           3.0
B           8.0
## max ##
         length
species
A             4
B            10

In [12]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [13]:
shoes = pd.read_csv('../data/3-2-2-shoes.csv')
shoes

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [15]:
cross = pd.pivot_table(
    data=shoes,
    values='sales',
    aggfunc='sum',
    index='store',
    columns='color'
)
cross

color  blue  red
store
osaka    13    9
tokyo    10   15

## 共分散

- 共分散の特徴
    - 共分散が0: 相関関係がない
    - 共分散が大きい: 正の相関
    - 共分散が小さい: 負の相関

$$
  \mathcal{Cov}(x, y) = \frac{1}{N} \sum_{i=1}^N (x_i - \mu_x)(y_i - \mu_y)
$$