# COVID

In [29]:
import urllib
import json
from datetime import datetime
import pandas as pd

In [36]:
# today = datetime.strftime(datetime.now(), '%Y-%m-%d')
# url = f'https://data.vrs.digital.go.jp/vaccination/opendata/{today}/prefecture.ndjson'
# response = urllib.request.urlopen(url)
# response = response.read()

In [47]:
df = pd.read_csv('data/covid.tsv', delimiter='\t')
df.head()

  prefecture  1st-time  2nd-time  3rd-time  4th-time
0        北海道     76.52     75.99     65.80     14.27
1        青森県     81.74     81.21     70.24     13.70
2        岩手県     81.10     80.53     71.52     15.86
3        宮城県     78.37     77.86     66.75     16.12
4        秋田県     82.36     81.92     74.18     10.00

In [45]:
import matplotlib.pyplot as plt

plt.

        date  prefecture gender  age  medical_worker  status  count
0 2021-04-12           1      F  -64           False       1      3
1 2021-04-12           1      F  65-           False       1     74
2 2021-04-12           1      M  -64           False       1      1
3 2021-04-12           1      M  65-           False       1     18
4 2021-04-12           1      U  UNK           False       1     18