# Here's sample usages for pandas-datareader

See [here](https://oeconomicus.jp/2021/05/python-economicdata/) for more usages.


- World Bank
  - https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#world-bank
  - https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-api-country-queries

- Econdb
  - https://www.econdb.com/main-indicators

In [9]:
from pandas_datareader import wb

# look for world bank data
matches = wb.search('labor')[['id', 'name', 'sourceNote', 'sourceOrganization']]
matches

,id,name,sourceNote,sourceOrganization
739,8.0.LIPI,Labor Income Poverty Index,The Labor Income Poverty Index (LIPI) measure...,b'LAC Equity Lab tabulations of LABLAC (CEDLAS...
941,9.0.Labor.All,Labor Force Participation Rate (%),Share of the population (ages 18-65) that is i...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...
942,9.0.Labor.B40,Labor Force Participation Rate (%)-Bottom 40 P...,Share of the population (ages 18-65) in the Bo...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...
943,9.0.Labor.T60,Labor Force Participation Rate (%)-Top 60 Percent,Share of the population (ages 18-65) in the To...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...
959,9.1.Labor.All,"Labor Force Participation Rate (%), Male",Share of the male population (ages 18-65) that...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...
...,...,...,...,...
20214,per_silm.overlap_q1_urb,Population in the 1st quintile (poorest) recei...,Percentage of population only receiving All So...,b'ASPIRE'
20228,v_F_nsk,"Labor volume for unskilled females, millions",,b''
20229,v_F_skl,"Labor volume for skilled females, millions",,b''
20230,v_M_nsk,"Labor volume for unskilled male, millions",,b''
20231,v_M_skl,"Labor volume for skilled males, millions",,b''

経済間の所得格差の要因を探るために，次の生産関数を考えよう。

$$
Y_i=A_iK_i^\alpha\left(h_iH_iL_i\right)^{1-\alpha}
,\quad
0<\alpha<1
$$ (eq:5-production)

* $i$：経済`i`
* $Y_i$：GDP
* $K_i$：物的資本
* $A_i$：全要素生産性（TFP）
* $H_i$：労働者一人当たりの人的資本
* $h_i$：労働者一人当たりの平均労働時間
* $L_i$：労働者数

GDPは労働，物的人的資本とTFPによって決定されると考える，ということである。このアプローチは「大雑把」な印象を否めないが，データを使う事により，重要な知見を得ることが可能となる。次に，生産関数を一人当たりに書き換えよう。

$$
\frac{Y_i}{L_i}=A_i
\left(
    \frac{K_i}{L_i}
\right)^{\alpha}
\left(
h_iH_i
\right)^{1-\alpha}
\quad\Rightarrow\quad
y_i=A_ik_i^{\alpha}\left(h_iH_i\right)^{1-\alpha}
$$ (eq:5-yi)

この式を使い経済間の一人当たりGDPの違いを考察する事になる。即ち，$A_i$，$k_i$，$h_i$，$H_i$の違いを使って$y_i$の違いを説明しようという事である。以下では，$h_iH_i$と$k_i$，$h_i$，$H_i$を合わせた項を次のように呼ぶ事にする。

$$
\begin{align*}
&\text{（労働者一人当たり）人的資本サービス： } h_iH_i\\
&\text{（労働者一人当たり）蓄積生産要素： } k_i^{\alpha}\left(h_iH_i\right)^{1-\alpha}
\end{align*}
$$


使うデータ・セットには，$y_i$，$k_i$，$h_i$に対応する変数があり，蓄積生産要素がどれだけ一人当たりGDPに寄与するかを数値で表すことができる。一方，全要素生産性は次の式で求めることができる。

$$
A_i=\dfrac{y_i}{k_i^{\alpha}\left(h_iH_i\right)^{1-\alpha}}
$$ (eq:5-Ai)

これらの式とデータを使って，一人当たりGDPに対する蓄積生産要素と全要素生産性の寄与度を数量化する事になる。

式に当てはめると次のようになる。

* 一人当たりGDP：$y_i\equiv\dfrac{Y_i}{L_i}=$ `GDP, PPP (current international$)`/`SL.TLF.TOTL.IN`
* 一人当たり資本：$k_i\equiv\dfrac{K_i}{L_i}=$ `Gross fixed capital formation (constant 2015 US$)`/`Labor force, total`
* 労働者一人当たり人的資本サービス：$h_iH_i=$ `avh`x`hc`
* 資本の所得シャア：$\alpha=1/3$を仮定

## World Bank Data Code
https://data.worldbank.org/indicator

- GDP, PPP (current international$)
    - NY.GDP.MKTP.PP.CD
    - https://databank.worldbank.org/metadataglossary/world-development-indicators/series/NY.GDP.MKTP.PP.CD
    - NY.GDP.MKTP.PP.KD
    - https://databank.worldbank.org/metadataglossary/world-development-indicators/series/NY.GDP.MKTP.PP.KD
- Labor force, total
    - SL.TLF.TOTL.IN
    - https://databank.worldbank.org/metadataglossary/world-development-indicators/series/SL.TLF.TOTL.IN
- Gross fixed capital formation (constant 2015 US$)
    - NE.GDI.FTOT.KD
    - https://databank.worldbank.org/metadataglossary/world-development-indicators/series/NE.GDI.FTOT.KD
- Human capital index (HCI) (scale 0-1)
    - HD.HCI.OVRL
    - https://databank.worldbank.org/metadataglossary/world-development-indicators/series/HD.HCI.OVRL
これに従ってコードを書いていこう。

In [13]:
# ppp = wb.download(indicator='NY.GDP.MKTP.PP.CD', country=['US', 'CA', 'MX'], start=2005, end=2008)
# ppp
# labor = wb.download(indicator='SL.TLF.TOTL.IN', country=['US', 'CA', 'MX'], start=2005, end=2008)
# labor
# capital = wb.download(indicator='NE.GDI.FTOT.KD', country=['US', 'CA', 'MX'], start=2005, end=2008)
# capital

                    NE.GDI.FTOT.KD
country       year
Canada        2008    3.478535e+11
              2007    3.422861e+11
              2006    3.317765e+11
              2005    3.121728e+11
Mexico        2008    2.409893e+11
              2007    2.261626e+11
              2006    2.137324e+11
              2005    1.955232e+11
United States 2008    3.300435e+12
              2007    3.445331e+12
              2006    3.465394e+12
              2005    3.375132e+12

In [1]:
%pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 KB 2.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: requests>=2.19.0 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from pandas-datareader) (2.28.1)
Requirement already satisfied: pandas>=0.23 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from pandas-datareader) (1.4.2)
Collecting lxml
  Using cached lxml-4.9.1.tar.gz (3.4 MB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: numpy>=1.20.0 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.26.11)
Requirement already satisfied: six>=1.5 in /Users/k-kakimoto/dev/ml_samples/.venv/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Building wheels for collected packages: lxml
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.9.1-cp38-cp38-macosx_10_14_arm64.whl size=3029485 sha256=2b5c292e08114a35012309188a4245348eb9e8756b983de16688d814f644f4c5
  Stored in directory: /Users/k-kakimoto/Library/Caches/pip/wheels/03/02/29/e73e6bd0b04b9ddb5e40fe507107c1e6e148bf8521a1964685
Successfully built lxml
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-4.9.1 pandas-datareader-0.10.0
WARNING: You are using pip version 22.0.4; however, version 22.2.1 is available.
You should consider upgrading via the '/Users/k-kakimoto/dev/ml_samples/.venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.